@model Book

@{
    ViewData["Title"] = " | Book Details";
}

<h1>Book Details</h1>

<table class="table table-bordered table-sm">
    <thead class="bg-dark text-white">
        <tr>
            <th>Title:</th><th>@Model.Title</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@(Model.Authors.Count > 1 ? "Authors" : "Author")</td>
            <td>
                @foreach (Author a in Model.Authors) {
                    <p><a asp-action="Details" asp-controller="Author"
                        asp-route-id="@a.AuthorId"
                        asp-route-slug="@a.FullName.Slug()">
                        @a.FullName
                    </a></p>
                }
            </td>
        </tr>
        <tr><td>Price:</td><td>@Model.Price.ToString("c")</td></tr>
        <tr><td>Genre:</td><td>@Model.Genre.Name</td></tr>
    </tbody>
</table>

<form asp-action="Add" asp-controller="Cart" method="post">
    <button type="submit" name="id" value="@Model.BookId"
        class="btn btn-primary">Add To Cart</button>
</form>