@model  SearchViewModel

@{
    ViewData["Title"] = " | Search Results";
}

<div class="row">
    <div class="col">
        <h1 class="mb-2">@Model.Header</h1>
    </div>
    <div class="col">
        <div class="float-right pr-2">
            <a asp-action="Index">New Search</a>
        </div>
    </div>
</div>

<table class="table">
    <tbody>
        @foreach (var book in Model.Books) {
        <tr>
            <td>
                <partial name="_BookLinkPartial" model="@book" />
            </td>
            <td>@book.Genre.Name</td>
            <td>
                @foreach(BookAuthor ba in book.BookAuthors) {
                    <div><partial name="_AuthorLinkPartial" model="@ba.Author" /></div>
                }
            </td>
            <td>
                <div class="float-right">
                    <a asp-action="Edit" asp-route-id="@book.BookId"
                       my-button>Edit</a>
                    <a asp-action="Delete" asp-route-id="@book.BookId"
                       my-button>Delete</a>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>
