@model Author

@{
    // this view is used for add, edit, and delete. 
    // Which one is determined by the action method name.
    var action = ViewContext.RouteData.Values["action"].ToString().Capitalize();

    ViewData["Title"] = $" | {action} Genre";
}

<h1>@action Author</h1>

<form asp-action="@action" asp-area="Admin" method="post">

    @* Author ID needed by both delete and edit *@
    <input type="hidden" asp-for="AuthorId" />

    @* Operation field needed by remote validation *@
    <input type="hidden" name="Operation" value="@action" />

    @* if deleting, just display full name, but include first and last
        name in hidden fields so can be used to display delete message.
        Otherwise, provide text boxes for first and last name. *@
    @if (Operation.IsDelete(action))
    {
        <div class="col-sm-4"><label>@Model.FullName</label></div>
        <input type="hidden" asp-for="FirstName" />
        <input type="hidden" asp-for="LastName" />
    }
    else
    {
        <div class="form-group row">
            <div class="col-sm-2"><label>First Name:</label></div>
            <div class="col-sm-4">
                <input asp-for="@Model.FirstName" class="form-control" />
            </div>
            <div class="col-sm-6">
                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2"><label>Last Name:</label></div>
            <div class="col-sm-4">
                <input asp-for="@Model.LastName" class="form-control" />
            </div>
            <div class="col-sm-6">
                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-sm-4 offset-sm-2">
            <button type="submit">@action</button>
            <a asp-action="Index" my-button>Cancel</a>
        </div>
    </div>
</form>