@model List<Product>
@{
    ViewBag.Title = "Product Manager";
}

<h1>@ViewBag.Title</h1>
<div class="row">
    <div class="col-sm-2">
        <ul class="list-group">
            <a asp-action="List" asp-route-id="All"
               class="list-group-item
                @if (ViewBag.SelectedCategoryName == "All") {
                    <text>active</text>
                } ">All</a>
            @foreach (Category c in ViewBag.Categories)
            {
                <a asp-action="List" asp-route-id="@c.Name"
                   class="list-group-item
                         @(ViewBag.SelectedCategoryName == c.Name ? "active" : "")">
                    @c.Name
                </a>
            }
        </ul>
    </div>

    <div class="col-sm-10">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th></th>
                    <th></th>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                    <tr>
                        <td>@p.Name</td>
                        <td>@p.Price.ToString("C")</td>
                        <td>
                            <a asp-action="Update"
                               asp-route-id="@p.ProductID">Update</a>
                        </td>
                        <td>
                            <a asp-action="Delete"
                               asp-route-id="@p.ProductID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-action="Add" class="btn btn-primary">Add New Product</a>
    </div>
</div>